.app-logo {
  width: 120px;
  height: auto;
  margin-bottom: 30px;
  margin-top:4%;
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.2));
}

.menu-btn {
  position: fixed;
  top:0px;
  left:10px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: block;
}

h3 {
  color:black;
  font-size:50%;
}


#auth {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}


#admin {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  box-sizing: border-box;
}


.articles {
  width: 100%;
  border: 1px solid #444;
  padding: 15px;
  margin: 10px auto;
  margin-top:0%;
  max-width: 600px;
  border-radius: 8px;
  background-color: #1e1e1e;
  
}

button {
  margin-top: 10px;
  background-color: #e53935;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #c62828;
}

.btn-valider {
  margin-top: 0px;
  margin-left:2%;
  background-color: #e53935;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-deconnexion {
   margin-top: 0px;
  margin-left:20%;
  background-color: #e53935;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-publier {
  margin-top: 0px;
  margin-left:3%;
  background-color: #e53935;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

input, textarea {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.articles h3 {
  color:white;
  font-weight: bold;
  font-size:150%;
  font-family: Arial, Helvetica, sans-serif;
}

.articles p {
  color:black;
  font-weight: bold;
  font-size:100%;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

html, body {
  height: 100%;
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Prend toute la hauteur visible */
}

main {
  width: 100%;
  max-width: 600px; /* limite la largeur sur les grands écrans */
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (max-width: 480px) {
  .menu-btn {
    padding: 8px 16px;
    font-size: 14px;
  }

  .btn-deconnexion, .btn-valider, .btn-publier {
    width: 100%;
    margin-left: 0;
  }

  h1 {
    font-size: 1.8rem;
    text-align: center;
  }
}